on: pull_request
name: Run linting checks and tests
jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check Linting.
        run: |
          docker run -v $PWD/app:/app ghcr.io/rev-amp/backend /app/scripts/lint.sh
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run tests.
        run: |
          cat > .env << EOF
          SERVER_NAME=localhost
          SERVER_HOST=http://localhost
          PROJECT_NAME=Rev-AMP
          SECRET_KEY=$(openssl rand -hex 32)
          FIRST_SUPERUSER=admin@revamp.ci.env
          FIRST_SUPERUSER_PASSWORD=F01bc9165d5b7a67d58fDd38dafdc9ac
          SMTP_HOST=
          SENTRY_DSN=
          # Database configuration - set postgres for CI
          DB=postgres
          DB_SERVER=db
          DB_USER=revamp
          DB_PASSWORD=password
          DB_NAME=revamp
          EOF
          docker-compose up --abort-on-container-exit --exit-code-from backend
